h3{
    font-size: 50px;
    font-weight: bold;
    color: violet;
}
.paragraph{
    color: orange;
    font-size: 25px;
}
#paragrafo_azul{
    color: rgb(78, 118, 204);
    font-size: 20px;
}
#paragrafo_rosa{
    color: rgb(230, 130, 177);
    font-size: 23px;
}
h2{
    border-bottom:2px solid red ;
}
.titulo{
    border-bottom: 3px solid blue;
}
#titulo-aleatorio{
    border-bottom: 4px solid green;
}
/*nome de cores*/
.color-name{
    color: darkred;
}
.hex{
    font-size: 25px;
    color: #a04aa1;
}