h3{
    font-size: 50px;
    font-weight: bold;
    color: violet;
}
.paragraph{
    color: orange;
    font-size: 25px;
}
#paragrafo_azul{
    color: rgb(78, 118, 204);
    font-size: 20px;
}
#paragrafo_rosa{
    color: rgb(230, 130, 177);
    font-size: 23px;
}
h2{
    border-bottom:2px solid red ;
}
.titulo{
    border-bottom: 3px solid blue;
}
#titulo-aleatorio{
    border-bottom: 4px solid green;
}
/*nome de cores*/
.color-name{
    color: darkred;
}
.hex{
    font-size: 25px;
    color: #a04aa1;
}
/*RGB*/
.rgb{
    color: rgb(30, 70, 240 );
}
/*RGBA*/
.rgba{
    color: rgba(200, 145, 190, 0.8);
}
/*HSL*/
.hsl{
    color: hsl(134, 20%, 53%);
}
/*Cor de fundo*/
.background-color{
    background-color: #a83e38;
}
#background-color2{
    background-color: rgb(141, 43, 120);
}
.opacidade-bg{
    background-color: cadetblue;
    opacity: 0.4;  
} 
.opacidade-bg-2{
    background-color: rgb(230, 130, 177);
    color: black;
    opacity: 0.4;
}
/*Imagem de fundo*/
.imagem-bg{
    background-image: url("../secao3/img/paisagem-rosa.jpg");
}
.imagem2-bg{
    background-image: url("../secao3/img/paisagem-roxa.jpg");
    background-position: center;
    background-size: cover;
}
/*Trabalhando com altura e largura*/
.height-width{
    height: 200px;
    width: 100px;
    background-color: pink;
}
.height-width2{
    height: 300px;
    background-color: #123;
}
/*Trabalhando com padding*/
.sem-padding, .padding{
    background-color: #123;
    color: #fff;
}
.padding{ /*Podemos utilizar paddings individuals com o left, top etc..*/
    padding: 20px;   /*O pixel é utilizado quando há uma medida fixa. Ela não funciona com o responsivo.*/
    /*Podemos utilizar o shorthand, caso queira adicionar medidas a todos os lados. por exemplo: padding: 10px 5 px 12 px 20px*/
    /*A ordem é top, right, bottom e left
    Ela pode ser aplicada no margin tbm e muitad outras propriedades.
    se fizer 10px 20px, é correspondente a 10px 20px 10px 20px*/
}
.sem-border-box{
    background-color: #a04aa1;
    color: white;
    width: 400px;
    padding: 50px;
}
.border-box{
    background-color: #a14a7e;
    color: white;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}
.border{
    border: 5px solid red;
    padding: 10px;
}
.border-2{
    border: 2px dotted #a04aa1; /*O dotted é pontilhado*/
}
.border-bottom{
    border-bottom: 8px solid #e1ff00;
    background-color: #a04aa1;
    padding: 10px;
}
.border-left{
    border-left: 8px solid #e1ff00;
    background-color: #a04aa1;
    padding: 40px;
}
.rounded-p{
    border: 4px solid blue;
    background-color: #123;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.rounded-p-2{
    background-color: #123;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.margin{
    margin: 10px;
    background-color: #123;
    color: white;
}
.margin-top{
    background-color: #123;
    color: white;
    margin-top: 50px;
}
.margin-right{
    background-color: #123;
    color: white;
    margin-right: 40px;
}